.login_out{
    background-color:white;
    background: white;

    height:20em;
    width:20em;
    border-radius: 15px;
    backdrop-filter: blur(10px);
  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
*{
    background: url(./assets/loginbg.jpg) center fixed;
    margin:0;
    padding:0;
    background-size: cover;
    height:100vh;
    width:100vw;

}